Missing value for `InfoTypeAndValue` and `implicitConfirm`

If I send a request that has `implicitConfirm` set with null parameters, the received response includes `implicitConfirm` without parameters.

Excerpt from the request:
![image](https://github.com/siemens/cmp-ra-component/assets/295338/05a4cb0e-fb0f-4d10-8caf-12f655b852c8)

Excerpt from the response (note that `infoValue` is missing):
![image](https://github.com/siemens/cmp-ra-component/assets/295338/3a52566b-ef02-4929-b88e-6802c7d2e668)


According to the definition in  [RFC 9483 the value must be present](https://datatracker.ietf.org/doc/html/rfc9483#name-general-description-of-the-)

```
  generalInfo                 OPTIONAL
    implicitConfirm           OPTIONAL
    -- RECOMMENDED in ir/cr/kur/p10cr messages,
    -- OPTIONAL in ip/cp/kup response messages, and
    -- PROHIBITED in other types of messages
    -- Added to request messages to request omission of the certConf
    --   message
    -- Added to response messages to grant omission of the certConf
    --   message
    -- See [RFC4210], Section 5.1.1.1.
      ImplicitConfirmValue   REQUIRED
    -- ImplicitConfirmValue MUST be NULL
```



Here is an example request:
```MIIGTjCCAV0CAQKkKjAoMSYwJAYDVQQDEx1DbG91ZENBLUludGVncmF0aW9uLVRlc3QtVXNlcqQmMCQxIjAgBgNVBAMTGUNsb3VkUEtJLUludGVncmF0aW9uLVRlc3SgFRgTMjAyNDAzMTYwNTExMzIuMTQ3WqFMMEoGCSqGSIb2fQdCDTA9BB4xMTExMTExMTExMjIyMjIyMjIyMjMzMzMzMzMzMzMwCwYJYIZIAWUDBAIBAgIHmTAKBggqhkiG9w0CCaIiBCBDTj1DbG91ZENBLUludGVncmF0aW9uLVRlc3QtVXNlcqMeBBxDTj1DbG91ZFBLSS1JbnRlZ3JhdGlvbi1UZXN0pCEEHzAxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMzQ1Njc4OTGlEgQQQlamcGwRL/aurKSnaP7qzqYSBBC+7hEBMMPFyZhP+rmaNKd9qBAwDjAMBggrBgEFBQcEDQUApIIExDCCBMAwggKoAgEAMBsxGTAXBgNVBAMTEHRlc3QuZXhhbXBsZS5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCWLT+Ii3VAbfeqZdxMa8/1F80rk7Gfon+3J6Bc/g8s0t/uqTy0ku6N+4PMcWZaiXnGOgnw3i2ONJmhSLBzOAoJFZXcHcuBe0gchcFWbHqMxqFhjkkg9nHkjAOqoCpoEkVKsLpiyXTianOWw0GEKj2Gm6euoa5valTRpQt91zyeW7SEwk8FqftyzXFGHQDw7DEmPzBfHoxMSEyo4/DP17fNr0sWOFTZfJJEr8JjkknX86cpdTDffs1bJVMhicsEMleL3C6iazPQt9p54dUmOKBNNNBkxkmyGsOZKJc67EgVZi8bjYa4K4OCB2TGmJ9TrayN8lVF7gFNAhDR36VKNtAgY07eN0XgaNh1z6Fm8VC1DqiA0EBC5d2TDsY7e6MF35uYKOxLKjCmzwCrRxrhWZFXvwuiWIXlkJ5dJhgtsn4RIsd874kXk5qHCy1gHk8921Tt/ow92ipYr/0QNc8mCMFsnAGblSde6HtnHgZxzNP3HDv94IhEahyJ/rvIVHbgkSKPktWxAevzH/dUGBV+t7j5GM7OE1v9SN6ZJSDomAm3nVTkbPlOxjHIDzDmuvqGR2LHdkP5BZcuytEX4WP4P2ExpC1uC4V0lP5aZTkmRGrE68+Ws/HHSSuCS/DgHwnuqjeoCjDTYUyQtwGFWtAE22sxr0HZBBwjZ5ha+FUcFX1dswIDAQABoGAwXgYJKoZIhvcNAQkOMVEwTzAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBSGusathjlvkdyVQlmTME2nRe5vtjALBgNVHQ8EBAMCA7gwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQENBQADggIBAJIl7rlN/3V4d32F9moLdyaCfPhpj0lS7y28IgpMTZyZCNvIKZ9AUTjvkBlEh0UlWqFDNfxmG9V6V0Lw3SyAuWQv45V6Qufz3J7wjkLt2CZhEHg7m+mKxXBSzJH9XYTgXxMsKxGcH8kP9rTVGRVPcoltIBdNeeudcvF5dFjAgovJ7GdfaPDCNs882n76cpNDOuiGKtRqUTODMx3J32MwOEcoGcJa39X4jIz682NKId1OdzNXoxgaAAB0qjSdK39NhVNFPuTPEmqAciHfLyE4HoAtRrIGv6MeNS3ooop6rnYo3vgV+usM3v2Z4yhTH45YNrwUAoc8q0zmdO1NsE+7/BMtBqNJnge7I8milayYopyPeVqMpPya71G011upUlQYk5I/jykBmhk96LSA6PB1iN+RFrNBaCp3VIdzM577J0cnH/u3D6Et6a1U4ZgPm8Utc/qTBcGERYZetzgkD5AgwCbEvSxEg9sAyK7+x5sbvUgFcKpopfCjDZcBmwY/jMxPTlFE5i+wUGLo1VVfIjHQZOsrJbim326Jc5DymcXWR7PWLAt7M0/Gu1NTmP7QAQaxdw+nGxCRWYLHLmRYFi0p6HfYO02bIEzd02PVesY+rREZftP5DE3J0FeeVDlgDwkKpNEq8HQfYtnm2QlYENaq0LDweRr/CuQjpgvW+1WOHMweoCMDIQCIkICb6jk3RdZLZves+fRrX8FEoJgo+t7eZYvQ5kwYpQ==```


And an example response
```MIIU4jCCARkCAQKkYTBfMRMwEQYDVQQKDApTaWVtZW5zIElUMSkwJwYDVQQLDCBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAwwUTERldklEIElzc3VpbmcgQ0EgdjKkHTAbMRkwFwYDVQQDDBB0ZXN0LmV4YW1wbGUuY29toBEYDzIwMjQwMzE2MDUxMTMzWqEMMAoGCCqGSM49BAMCohYEFHIb/SdLBlJi7ClWoObK7WelcGHppCEEHzAxMjM0NTY3ODkwMTIzNDU2Nzg5MDEyMzQ1Njc4OTGlEgQQR6/XbMd2++WelpEAzLZ7wKYSBBBCVqZwbBEv9q6spKdo/urOqA4wDDAKBggrBgEFBQcEDaOCCKYwggiioYIDozCCA58wggObMIIC/KADAgECAghUV3rVhicdTzAKBggqhkjOPQQDBDBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTWFudWZhY3R1cmVyIFJvb3QgQ0EwHhcNMjMxMjA0MDAwMDAwWhcNMzMxMjAzMjM1OTU5WjBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTWFudWZhY3R1cmVyIFJvb3QgQ0EwgZswEAYHKoZIzj0CAQYFK4EEACMDgYYABAERZWOCxI5KVbRkPLU93J+Jq1pVzWZeYDw/WjqH1nb+LE3d9ZwY1tr+KlcwUCcA+U+n71ycso6JQztq8/wkrZo1QABU0YTrEdcu4QasUMUYyXXru9qkZ0q4ruaHoei0QHOnkTrkUTmSP/HDPjmY75U+3G15cNzWSur1RTAcgZEmMrSvfKOCAV0wggFZMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFAsZujcaNoS+mUw4Ke0jpzzrYJ2UMHgGA1UdIwRxMG+hY6RhMF8xEzARBgNVBAoTClNpZW1lbnMgSVQxKTAnBgNVBAsTIFNlY3VyZSBEZXZpY2UgT25ib2FyZGluZyBCYWNrZW5kMR0wGwYDVQQDExRNYW51ZmFjdHVyZXIgUm9vdCBDQYIIVFd61YYnHU8wCwYDVR0PBAQDAgEGMIGfBgNVHSAEgZcwgZQwgZEGAyoDBDCBiTApBggrBgEFBQcCARYdaHR0cHM6Ly9zZG8tcWEuc2llbWVucy5jbG91ZC8wXAYIKwYBBQUHAgIwUDAaFgpTaWVtZW5zIElUMAwCAQECAQICAQMCAQQaMk5ldmVyIGV2ZXIgdXNlIHRoaXMgQ0EgZm9yIGFueSBwcm9kdWN0aXZlIHNjZW5hcmlvMAoGCCqGSM49BAMEA4GMADCBiAJCAbl33k/RfNiv1XnbuyyCS9KVv6KBKC24GaDEyFXFPih1IdltLMabJX17jb7mAqjcRJSNiy07zRFa01poPnKo3imTAkIBZ8dcgUycuN7u6y2qQyLdvnhToaznP0/hlwQyJPsLMCVK6wvze9f49u+kqBaGPUgEK8ysgcnrZatWrDpJIjpYRHYwggT3MIIE8wIBADADAgEAMIIE56CCBOMwggTfMIIEQKADAgECAhQTizpYpNu80fRNMtkcVL4YxKgDtDAKBggqhkjOPQQDBDBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTERldklEIElzc3VpbmcgQ0EgdjIwHhcNMjQwMzE2MDUwMTMzWhcNMjYwMzE2MDUwMTMyWjAbMRkwFwYDVQQDDBB0ZXN0LmV4YW1wbGUuY29tMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAli0/iIt1QG33qmXcTGvP9RfNK5Oxn6J/tyegXP4PLNLf7qk8tJLujfuDzHFmWol5xjoJ8N4tjjSZoUiwczgKCRWV3B3LgXtIHIXBVmx6jMahYY5JIPZx5IwDqqAqaBJFSrC6Ysl04mpzlsNBhCo9hpunrqGub2pU0aULfdc8nlu0hMJPBan7cs1xRh0A8OwxJj8wXx6MTEhMqOPwz9e3za9LFjhU2XySRK/CY5JJ1/OnKXUw337NWyVTIYnLBDJXi9wuomsz0LfaeeHVJjigTTTQZMZJshrDmSiXOuxIFWYvG42GuCuDggdkxpifU62sjfJVRe4BTQIQ0d+lSjbQIGNO3jdF4GjYdc+hZvFQtQ6ogNBAQuXdkw7GO3ujBd+bmCjsSyowps8Aq0ca4VmRV78LoliF5ZCeXSYYLbJ+ESLHfO+JF5OahwstYB5PPdtU7f6MPdoqWK/9EDXPJgjBbJwBm5UnXuh7Zx4GcczT9xw7/eCIRGocif67yFR24JEij5LVsQHr8x/3VBgVfre4+RjOzhNb/UjemSUg6JgJt51U5Gz5TsYxyA8w5rr6hkdix3ZD+QWXLsrRF+Fj+D9hMaQtbguFdJT+WmU5JkRqxOvPlrPxx0krgkvw4B8J7qo3qAow02FMkLcBhVrQBNtrMa9B2QQcI2eYWvhVHBV9XbMCAwEAAaOCAVEwggFNMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgwFoAUchv9J0sGUmLsKVag5srtZ6VwYekwXgYDVR0gBFcwVTBTBgMqAwQwTDBKBggrBgEFBQcCAjA+DDxOZXZlciBldmVyIHVzZSB0aGlzIGNlcnRpZmljYXRlIGZvciBhbnkgcHJvZHVjdGl2ZSBwdXJwb3NlcyEwRQYDVR0lBD4wPAYIKwYBBQUHAwIGBysGAQUCAwQGCSqGSIb3LwEBBQYIKwYBBQUHAxUGCCsGAQUFBwMWBggrBgEFBQcDATBGBgNVHR8EPzA9MDugOaA3hjVodHRwOi8vY2RwMDEucGtpLmRlMDEwLnNpZW1lbnMubmV0L2NkcC9Jc3N1aW5nX1YyLmNybDAdBgNVHQ4EFgQUhrrGrYY5b5HclUJZkzBNp0Xub7YwDgYDVR0PAQH/BAQDAgXgMAoGCCqGSM49BAMEA4GMADCBiAJCATWRsH/EShSY0DUflrldfDJPSs6iNw9+klnsyifhcIWPaByA1gSb+ICZy5uQr6t2NWA2sGn6dcuV+3QxQvF57A12AkIBumVH9cqK7m3hrEEkjFgoliG2Pq9uucaXgRMMBXKmf/y1gP+BH8auaA5Ce6in8OfsVHo9TC2AXaJjaRZJyJfqx+iggY8DgYwAMIGIAkIA/iO4SFuclEzKjHuDoqNBAVR/vEIxRrNGEOxHAFXqh0JbhDZNt9rcgJnU3uzyfL1Uqn+6JgyDXeww3Kpyu3Bn24MCQgGs1ilx8eG5dE9tSBblsbi8bhQNdhJ8wnSF3ET/ntKNjBMXBdpL/n8uO+KLX/+ugacQUNzxbf8vAPFnfn/NJXS8yaGCCoUwggqBMIIDkTCCAvOgAwIBAgIIAt3oV2kTGaAwCgYIKoZIzj0EAwQwXzETMBEGA1UEChMKU2llbWVucyBJVDEpMCcGA1UECxMgU2VjdXJlIERldmljZSBPbmJvYXJkaW5nIEJhY2tlbmQxHTAbBgNVBAMTFE1hbnVmYWN0dXJlciBSb290IENBMB4XDTIzMTIwNDAwMDAwMFoXDTMzMTIwMzIzNTk1OVowXzETMBEGA1UEChMKU2llbWVucyBJVDEpMCcGA1UECxMgU2VjdXJlIERldmljZSBPbmJvYXJkaW5nIEJhY2tlbmQxHTAbBgNVBAMTFExEZXZJRCBJc3N1aW5nIENBIHYyMIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQA47ifWWDW9mRmU953i9a7PXAZoJcd4qtkJt9X74rsVVLeUCKEN7v1OACDHhgDP8pRlTxI8tHEeHgKKkJS+pXW344B8OAqucmnlI1Aq1usryZjdTqTkl3OPYzB7iUSPxeJH2m96159s39TTJwtIOFCLiqjUFxBkWJavWIawYigtx6us96jggFUMIIBUDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBRyG/0nSwZSYuwpVqDmyu1npXBh6TAfBgNVHSMEGDAWgBQLGbo3GjaEvplMOCntI6c862CdlDALBgNVHQ8EBAMCAYYwTgYDVR0fBEcwRTBDoEGgP4Y9aHR0cDovL2NkcDAxLnBraS5kZTAxMC5zaWVtZW5zLm5ldC9jZHAvTWFudWZhY3R1cmVyUm9vdENBLmNybDCBnwYDVR0gBIGXMIGUMIGRBgMqAwQwgYkwKQYIKwYBBQUHAgEWHWh0dHBzOi8vc2RvLXFhLnNpZW1lbnMuY2xvdWQvMFwGCCsGAQUFBwICMFAwGhYKU2llbWVucyBJVDAMAgEBAgECAgEDAgEEGjJOZXZlciBldmVyIHVzZSB0aGlzIENBIGZvciBhbnkgcHJvZHVjdGl2ZSBzY2VuYXJpbzAKBggqhkjOPQQDBAOBiwAwgYcCQTUdWlxyYCUDzWHdRV4tUxUyvc1CwJSNigih/mk0UrmoOGov9P27ozt93jy+0N1noFrY3PeRSfpHAuo9ybX4dLnEAkIBgF+jFuJAdHfH4DkVBX33VKCRwXcGvHWHAsY0zwDn12Zyzv3V2JKCU9z9qO9gRWroeSV8yMSweVBbJAc/7qU1gT4wggObMIIC/KADAgECAghUV3rVhicdTzAKBggqhkjOPQQDBDBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTWFudWZhY3R1cmVyIFJvb3QgQ0EwHhcNMjMxMjA0MDAwMDAwWhcNMzMxMjAzMjM1OTU5WjBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTWFudWZhY3R1cmVyIFJvb3QgQ0EwgZswEAYHKoZIzj0CAQYFK4EEACMDgYYABAERZWOCxI5KVbRkPLU93J+Jq1pVzWZeYDw/WjqH1nb+LE3d9ZwY1tr+KlcwUCcA+U+n71ycso6JQztq8/wkrZo1QABU0YTrEdcu4QasUMUYyXXru9qkZ0q4ruaHoei0QHOnkTrkUTmSP/HDPjmY75U+3G15cNzWSur1RTAcgZEmMrSvfKOCAV0wggFZMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFAsZujcaNoS+mUw4Ke0jpzzrYJ2UMHgGA1UdIwRxMG+hY6RhMF8xEzARBgNVBAoTClNpZW1lbnMgSVQxKTAnBgNVBAsTIFNlY3VyZSBEZXZpY2UgT25ib2FyZGluZyBCYWNrZW5kMR0wGwYDVQQDExRNYW51ZmFjdHVyZXIgUm9vdCBDQYIIVFd61YYnHU8wCwYDVR0PBAQDAgEGMIGfBgNVHSAEgZcwgZQwgZEGAyoDBDCBiTApBggrBgEFBQcCARYdaHR0cHM6Ly9zZG8tcWEuc2llbWVucy5jbG91ZC8wXAYIKwYBBQUHAgIwUDAaFgpTaWVtZW5zIElUMAwCAQECAQICAQMCAQQaMk5ldmVyIGV2ZXIgdXNlIHRoaXMgQ0EgZm9yIGFueSBwcm9kdWN0aXZlIHNjZW5hcmlvMAoGCCqGSM49BAMEA4GMADCBiAJCAbl33k/RfNiv1XnbuyyCS9KVv6KBKC24GaDEyFXFPih1IdltLMabJX17jb7mAqjcRJSNiy07zRFa01poPnKo3imTAkIBZ8dcgUycuN7u6y2qQyLdvnhToaznP0/hlwQyJPsLMCVK6wvze9f49u+kqBaGPUgEK8ysgcnrZatWrDpJIjpYRHYwggNJMIICqqADAgECAghOPb7RTyVrbTAKBggqhkjOPQQDBDBfMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEdMBsGA1UEAxMUTWFudWZhY3R1cmVyIFJvb3QgQ0EwHhcNMjMxMjA0MDAwMDAwWhcNMzMxMjAzMjM1OTU5WjBmMRMwEQYDVQQKEwpTaWVtZW5zIElUMSkwJwYDVQQLEyBTZWN1cmUgRGV2aWNlIE9uYm9hcmRpbmcgQmFja2VuZDEkMCIGA1UEAxMbQ29ubmVjdG9yIEluZnJhc3RydWN0dXJlIENBMIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBZWenxdStY1Diq5r6PVR0ejqERILZRpKBg7WzeDqaW5cKIdKSSJzFNndyN3Mqg/adWOEN2sYGrCCEScNaDqiSX3UBVVSvU9kD28uirb/+7Gf1FTjlCbzSaaKS2BghKXkfs6wSj43XoUQTCLLrAryrnlVuNiDl4sEkE46SDE32nr9t5T2jggEEMIIBADAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBTbRYR6UPiqSWw/7Zifh0raj0IAoDAfBgNVHSMEGDAWgBQLGbo3GjaEvplMOCntI6c862CdlDALBgNVHQ8EBAMCAQYwgZ8GA1UdIASBlzCBlDCBkQYDKgMEMIGJMCkGCCsGAQUFBwIBFh1odHRwczovL3Nkby1xYS5zaWVtZW5zLmNsb3VkLzBcBggrBgEFBQcCAjBQMBoWClNpZW1lbnMgSVQwDAIBAQIBAgIBAwIBBBoyTmV2ZXIgZXZlciB1c2UgdGhpcyBDQSBmb3IgYW55IHByb2R1Y3RpdmUgc2NlbmFyaW8wCgYIKoZIzj0EAwQDgYwAMIGIAkIA5XWpMY3uT0etiszCwzRYsk7G9KxgR7FVPg50/rSGFlxL4PgjvsxLDEUF3hY5ldEgtdzgzh7LS98sfjmugWUvSVUCQgELgoSNiL4OW3eWPuLjR98HdMd5FoX/dBtUJ2d7wbfBwi7BWCkrAXFMnW5z1N+XlKHkad8Vjps9bS5KSKxGWedsjA==```


Which CA you are using? EjbCA or src/test/java/com/siemens/pki/cmpracomponent/test/framework/CmpCaMock.java?

Upon a closer analysis of the RFC, it is clear that the thing is optional - so this issue report is not accurate.