Handling of MAC-based protection: Adaptations not documented and partly surprising

The changes made by #106 aim at fixing the behavior according to RFC 9483 section 4.1.5.

They are
* not documented (for the LightweightCmpRa, I just proposed a respective [update](https://github.com/siemens/LightweightCmpRa/pull/98))
* incomplete: responses to requests with MAC-based protection must use MAC-based protection with the same credentials 
regardless of what is configured, i.e., this must be done also if `reprotect` has not been configured.

Pull request merged to the main: #142